<h1>Fill in the following information to calculate your shipping cost</h1>
<form action='/cost'>
  <div class="form-group">
    <label for="length">Parcel length (in.):</label>
    <input id="length" name="length" class="form-control input-lg" type="text" placeholder = "Length in inches">
  </div>
  <div class="form-group">
    <label for="width">Parcel width (in.):</label>
    <input id="width" name="width" class="form-control input-lg" type="text" placeholder = "Width in inches">
  </div>
  <div class="form-group">
    <label for="height">Parcel height (in.):</label>
    <input id="height" name="height" class="form-control input-lg" type="text" placeholder = "Height in inches">
  </div>
  <div class="form-group">
    <label for="weight">Parcel weight (lb.):</label>
    <input id="weight" name="weight" class="form-control input-lg" type="text" placeholder = "Weight in pounds">
  </div>
  <button type="submit" class="btn btn-primary">Calculate</button>
</form>
